{% extends 'base.html' %} {% block content %} {% if 'user_id' in session %}

<ul class="navbar">
  <li><a class="homenav" href="/">Home</a></li>
  <li><a class="invnav" href="/inventory/{{user_id}}">Inventory</a></li>
  <li><a class="cryptnav" href="/addcrypto">Add Crypto</a></li>
  <li><a class="accountnav" href="/account/{{g.user.id}}">Account</a></li>
  <li><a class="lgtnav" href="/logout">Logout</a></li>
</ul>

<!-- <h1>Type: {{crypto.crypt_name}} ----- Amount: {{crypto.amount}}</h1> -->
{% for c in cryptos %} {% if crypto.crypt_name in curr_logos %}

<div class="card-info-container">
  <img
    class="card-info"
    alt="{{crypto.crypt_name}}"
    src="{{ url_for('static', filename=curr_logos[crypto.crypt_name])}}"
  />
</div>
{% endif %} {% for coin in api_data['coins'] %} {% if crypto.crypt_name in
coin['symbol'] %} {% if loop.index <= 20 %}
<div class="api-container">
  <ul class="api-info">
    <li>Name: {{coin['name']}}</li>
    <li>Rank: {{coin['rank']}}</li>
    <li>Price: {{coin['price']}}</li>
    <li>Market Cap: {{coin['market_cap']}}</li>
    <li>Volume 24H: {{coin['volume_24h']}}</li>
    <li>Delta 24H: {{coin['delta_24h']}}</li>
  </ul>
</div>
{% endif %} {% endif %} {% endfor %}{% endfor %}{% endif %} {% endblock %}
